body {
  /* background-color: red; */
  background-color: #eee;
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', Arial, sans-serif;

}

h3 {
  color: inherit;
  font-size: 24px;
  font-weight: inherit;
  margin-bottom: 10px;
  line-height: inherit;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
#logo {
  /*position:absolute; */
    margin-top:5px;
    margin-bottom: 5px;
    /*left:10px;*/
    width:160px;
    height:40px;
    overflow:hidden;
}

  .navbar-header span {
    /* margin: 0 0px 0 0; */
    display: inline-block;
    margin-left: 2.5px;
    margin-top: 0;
    margin-bottom: 0;
  }

.navbar-toggle {
    z-index:3;
}

li .navbar-right {
  position: relative;
  right: 30px;
}

.selectnav { display: none; }

/* small screen */
@media screen and (max-width: 600px) {
  .js #nav { display: none; }
  .js .selectnav { display: block; }
}

.left-divider {
  padding-left: 20px;
  border-left: 1px dashed black;
  margin-left: 20px;
}

.right-divider {
  padding-right: 20px;
  border-right: 1px dashed black;
  margin-right: 20px;
}


/*TODO: decrease footer margins*/
/*footer {
  margin: 15px;
}*/

.fa {
  margin: 2px;
}
