{% extends "pages/richtextpage.html" %}
{% load mezzanine_tags blog_tags i18n %}

{% block main %}

{{ block.super }}
<hr/>
{% block blog_recent_posts %}
  {% blog_recent_posts 5 as recent_posts %}
  {% if recent_posts %}
    <h3>{% trans "Recent Posts" %}</h3>
    <ul class="unstyled recent-posts">
    {% for recent_post in recent_posts %}
      <li><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% endblock %}

{% block right_panel_span %}{% endblock %}
{% block right_panel %}
    {% include "includes/user_panel.html" %}
    <div class="panel">
      <!-- TODO: TOP, AD and POPULAR  -->
    </div>
{% endblock %}
