<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

  {% ifinstalled mezzanine.blog %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
  {% endifinstalled %}

  <script src="https://use.fontawesome.com/207baa43b5.js"></script>
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/thenewsreporter/responsive.css" %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static "css/thenewsreporter/style.css" %}" media="screen" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}">
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
  {% endif %}
  {% ifinstalled cartridge.shop %}
  <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
  {% endif %}
  {% endifinstalled %}
  {% block extra_css %}{% endblock %}
  {% endcompress %}

  {% compress js %}
  <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/bootstrap-extras.js" %}"></script>
  {% block extra_js %}{% endblock %}
  {% endcompress %}

  <!--[if lt IE 9]>
  <script src="{% static "js/html5shiv.js" %}"></script>
  <script src="{% static "js/respond.min.js" %}"></script>
  <![endif]-->

  {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{% trans "Toggle Navigation" %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="nav navbar-nav navbar-left">
            {% if settings.SITE_TITLE %}<a class="" href="/"><img id="logo" src="{% static "img/logo_main_english.svg" %}" alt="logo"></a>{% endif %}
        </span>
        {% block navbar_title %}
        <!-- {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %} -->
        <!-- {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/"><img src="{{ settings.SITE_TITLE_LOGO }}" alt="logo"></a>{% endif %} -->
        <!-- BELOW VERSION WORKS -->
        <!-- {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %} -->
        {% endblock%}
      </div>
      <div class="navbar-collapse collapse">
        <!-- <li><a href="#">Edition button comes here</a></li> -->
        <ul class="nav navbar-nav navbar-right">
          <!-- TODO: smaller margins -->
          <li><a href="https://www.facebook.com/NewsWhys/"><i class="fa fa-facebook" ></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCVDX7Y1luZzm2VdQwN22dyA?view_as=subscriber"><i class="fa fa-youtube-play"></i></a></li>
          <li><a href="https://twitter.com/NewsWhys"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/newswhys/"><i class="fa fa-instagram"></i></a></li>
         <!-- <li><a href="#"><i class="fa fa-tumblr"></i></a></li> -->
          <li><a href="https://plus.google.com/u/1/103368278925712009285"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://in.pinterest.com/NewzWhys/"><i class="fa fa-pinterest"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-bookmark"></i></a></li> -->
        </ul>
        <!-- {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%} -->
      </div>
    </div>
  </div>


  <div class="main_menu_area">
    <div class="container">
    <!-- TODO: make mobile layout responsive -->
    <ul id="nav">
      <li><a href="#">World News</a>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Tech</a>
      <li><a href="#">Business</a></li>
      <li><a href="#">Movies</a></li>
      <li><a href="#">Entertainment</a></li>
      <li><a href="#">Culture</a></li>
      <li><a href="#">Books</a>
      <li class="navbar-right">{% block navbar_search_form %}{% search_form "all" %}{% endblock %}</li>

    </ul>
  </div>
  </div>

  <div class="container">
      <h1>{% block title %}{% endblock %}</h1>
      {% block breadcrumb_menu %}{% endblock %}

  </div>

  <!-- <div class="container"> -->
    <div class="row">

      <div class="col-md-3 left">
        <!-- <div class=""> -->
          <!-- <div class=""> -->
            {% block left_panel %}{% endblock %}
          <!-- </div> -->
        <!-- </div> -->
      </div>

      <div class="col-md-5 middle">
        {% block main %}{% endblock %}
      </div>

      <div class="col-md-3 right">
        {% block right_panel %}{% endblock %}
      </div>

  </div>
<!-- </div> -->

<footer>
  <div class="container">
    <!-- {% page_menu "pages/menus/footer.html" %} -->
    <div class="row">
      <p class="site-info text-center">
        <a href="/about">About us</a>
        <span class="separator">|</span>
        <a href="/contact">Contact us</a>
        <span class="separator">|</span>
        <a href="/tos">Terms of Service</a>
        <span class="separator">|</span>
        <a href="/privacy">Privacy Policy</a>
        <span class="separator">|</span>
        {% trans "Copyright 2018 © " %}
        <a href="newsotherwise.com">NEWSOTHERWISE</a>
        {% trans "All Rights Reserved." %}
        {% ifinstalled mezzanine.mobile %}
        <span class="separator">|</span>
        <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
        {% endifinstalled %}
      </p>
    </div>
  </div>
</footer>

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
<script type="text/javascript">
selectnav('nav', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
selectnav('f_menu', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
$('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
});
</script>
{% endblock %}

</body>
</html>
