{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<!-- {% blocktrans %}
<h2>Congratulations!</h2>
<p>
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>
{% endblocktrans %} -->

<div><!-- Recent Posts -->
  {% load blog_tags keyword_tags i18n %}
  {% blog_recent_posts 5 as recent_posts %}
  {% if recent_posts %}
  <h3>{% trans "Recent Posts" %}</h3>
  {% for recent_post in recent_posts %}
  <h4>
    <a class="text-capitalize" href="{{ recent_post.get_absolute_url }}">
      {{ recent_post.title }}
    </a>
    <small style="padding-left:10px;">
      {{ recent_post.publish_date|timesince }} {% trans "ago" %}
    </small>
  </h4>
  <div class="recent-summary">
    {{ recent_post.description|safe }}
  </div>
  <hr>
  {% endfor %}
  {% endif %}
</div><!-- Recent Posts -->

{% endblock %}
